@media (min-width: 600px) {
	.alignleft {
		display: inline;
		float: left;
		margin-right: 1.5em;
		margin-top: .5em;
		margin-bottom: .5em;
	}

	.alignright {
		display: inline;
		float: right;
		margin-left: 1.5em;
		margin-top: .5em;
		margin-bottom: .5em;
	}
}

@media (max-width: 599px) {
	.alignright,
	.alignleft {
		display: block;
		@include center-block;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

.aligncenter {
	clear: both;
	@include center-block;
}

.alignfull,
.alignwide {
	margin-top: 2.2em;
	margin-bottom: 2.1em;
}

.entry-content > .alignfull {
	margin-left: -20px;
	margin-right: -20px;
}

.entry-content > .alignfull,
.entry-content > .alignwide {
	@media only screen and (min-width: 700px) {
		margin-left: -40px;
		margin-right: -40px;
	}

	@media only screen and (min-width: $size__site-container-no-padding) {
		margin-left: -$size__content-side-spacing;
		margin-right: -$size__content-side-spacing;
	}
}

#master .display-sidebar {
	.entry-content > .alignfull,
	.entry-content > .alignwide {
		@media only screen and (min-width: $size__site-container-no-padding) {
			margin-right: 0;
		}
	}
}

.wp-block-gallery.alignfull {
	margin-left: -28px;
	margin-right: -28px;
}

.wp-block-gallery.alignwide,
.wp-block-gallery.alignfull {
	@media only screen and (min-width: 700px) {
		margin-left: -48px;
		margin-right: -48px;
	}

	@media only screen and (min-width: $size__site-container-no-padding) {
		margin-left: -($size__content-side-spacing+8);
		margin-right: -($size__content-side-spacing+8);
	}
}

#master .display-sidebar {
	.wp-block-gallery.alignwide,
	.wp-block-gallery.alignfull {
		@media only screen and (min-width: $size__site-container-no-padding) {
			margin-right: 0;
		}
	}
}
