.ingreso {
   width           : 400px;
   margin          : 0 auto;
   background-color: #FFF;
   color           : #000;
   padding         : 10px;
}
.ingreso input {
   width  : 90%;
   padding: 5px;
}
legend {
   color      : #000;
   font-weight: bold;
   text-align : center;
   display    : block;
   width      : 400px;
   margin     : 5px auto 15px auto;
}
.frm-etiquetas {
   float      : left;
   width      : 80px;
   font-weight: bold;
   padding-top: 8px;
}
.frm-controles {
   float: right;
   width: 300px;
}
.frm-botones input{
   margin: 25px auto 15px 15px;
}